/*      Styles For New Customer       */

/* The styles in this CSS file are the general styles which appliet to all pages*/

/*
    Fonts

    Import Fonts:
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;1,500&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');
/*
    For Applying Fonts:
                            font-family: 'Montserrat', sans-serif;
                            font-family: 'Roboto', sans-serif;
                            font-family: 'Lato', sans-serif;
                            font-family: 'Open Sans', sans-serif;
    colors:
            Body Background: #ffffff
            Background nav: #505050
            Pink: #FF69B4

    Shadow Effects:
                        Text  - standard -  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);

                              - hard shadow - text-shadow: 5px 5px 0px rgba(0,0,0,0.2);

                              - heavy shadow - text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                                                            0px 8px 13px rgba(0,0,0,0.1),
                                                            0px 18px 23px rgba(0,0,0,0.1);

                        Box Shadow :    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
                        Icons:
                                -

*/

/* Customer Details Section Style Start */
.new-customer-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 50px;
}
.new-customer-header-container {
  height: 10%;
  width: 100%;
  text-align: center;
}
.new-customer-heading {
  font-size: 30px;
  color: #505050;
  font-family: 'Roboto', sans-serif;
}
.new-customer-main-form-container {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
  margin: 1rem;
}
/* Customer Forms Details Containers  */
.customer-details-container,
.pet-details-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 1rem;
  border: 2px solid #dcdcdc;
}
.customer-details-form-container,
.pet-details-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.customer-details-form,
.pet-details-form {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

/*  Heading container   */
.form-heading-container {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2%;
  height: 20%;
}
/*  Text of Heaidng */
.form-details-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #505050;
  margin-left: 10px;
}
.form-row {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 80%;
  margin: 0 10%;
}
.form-row-gender {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 80%;
  margin: 20px 10%;
}
.form-row-new-pet {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  width: 80%;
  margin: 40px 10%;
}
.customer-label {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.customer-input {
  font-size: 18px;
  color: #ff69b4;
  width: 100%;
  border: 2px solid #505050;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}
.customer-address-input {
  font-size: 1.7em;
  width: 100%;
  color: #ff69b4;
  font-weight: 200;
  border: 2px solid #505050;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 90%;
  margin: 10px 5%;
  height: 10%;
}

/* Label Styles */
.pet-label {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}
/* Input Boxes  */
.pet-input {
  width: 100%;
  max-width: 422px;
  height: 50px;
  font-size: 1.4em;
  color: #ff69b4;
  border: 2px solid #505050;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
}
.pet-select {
  width: 50%;
  margin: 0;
}

.pet-gender-select {
  font-size: 1.6em;
  color: #ff69b4;
  border: 2px solid #505050;
  margin: 0 10px;
}
.pet-label-radio {
  font-size: 1.4em;
  font-family: 'Lato', sans-serif;
}
/* Notes Input */
#pet-notes-input {
  font-size: 1.7em;
  font-weight: 200;
  height: 70px;
  border: 2px solid #505050;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
}

/* Responsive */
@media screen and (max-width: 1606px) {
}

@media screen and (max-width: 1510px) {
}
@media screen and (max-width: 1370px) {
}

@media screen and (max-width: 1310px) {
}
@media screen and (max-width: 1262px) {
}
@media screen and (max-width: 1090px) {
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 500px) {
}
