<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@Home Mobile Pet Grooming</title>

        <!-- Window Icon -->
        <link rel="icon" href="../Icons/icon.ico">

        <!--    Styles     -->
        <link rel="stylesheet" href="../css/styles-all.css" />

        <!-- Mobile Menu -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <!-- For Colapsing Menu -->
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <!-- Material Icons -->

    </head>

    <body>
        <header th:insert="fragments/header :: header">
            <!-- Header Included With Fragments -->
        </header>
        <!-- Content Section Start -->
        <div class="content-section">
            <nav th:insert="fragments/navbar :: navbar">
                <!-- Navigation Included With Fragments -->
            </nav>
            <!-- Content Container Start -->
            <div class="content-container">
                <!-- Schedule Container Start -->
                <div class="schedule-container">
                    <!-- Schedule Container Head -->
                    <div class="schedule-head-container">
                        <img src="/Icons/schedule.jpg" alt="schedule" class="schedule-icon" />
                        <h2 class="schedule-head">Schedule</h2>
                    </div>
                    <div class="calender-pick-container">
                        <h3>Date</h3>
                        <div class="date-picker">
                            <div class="selected-date"></div>

                            <div class="dates">
                                <div class="month">
                                    <div class="arrows prev-mth">&lt;</div>
                                    <div class="mth"></div>
                                    <div class="arrows next-mth">&gt;</div>
                                </div>

                                <div class="days"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Schedule Container Table -->
                    <div class="schedule-table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="4">Monday</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td class="time">09:00 - 10:15</td>
                                    <td class="">
                                        Sonja Van Der Merwe <br />
                                        084 5076 275 <br />
                                        7 Bunteberg Str Sasolburg <br />
                                        Rocky (Jack Russel Terrier) Wash & Dip <br />
                                    </td>
                                    <td class="checkbox-column">
                                        <div class="checkbox-container">
                                            <input type="checkbox" name="schedule-checkbox" class="checkbox" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="time">10:30 - 11:30</td>
                                    <td>
                                        Sonja Van Der Merwe <br />
                                        084 5076 275 <br />
                                    </td>

                                    <td class="checkbox-column">
                                        <div class="checkbox-container">
                                            <input type="checkbox" name="schedule-checkbox" class="checkbox" data-tip="" />
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Schedule Container End -->

            </div>
            <!-- Schedule Section  End -->
        </div>
        <footer th:insert="fragments/footer :: footer">
            <!-- Footer Included With Fragments -->
        </footer>
        <!--    Scripts         -->
        <script src="/js/dashboard.js"></script>
    </body>

</html>
