<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<body>
  <div th:fragment="header" class="header-container">

    <div class="logo-container">
      <a class="fa fa-bars" aria-hidden="true" id="menuButton" onclick="toggleSideNav()"></a>
      <h3 class="logo"> Pet Grooming</h3>
    </div>

    <div class="title-container">
      <!-- /icons/dog.jpg -->
      <img th:src="@{/icons/{icon}(icon=${iconUrl})}" alt="Page Icon" class="page-title-icon">
      <!-- Title Is Return Via Controller -->
      <h2 class="page-title" th:text="${pageTitle}">Page Title</h2>
    </div>
    <div class="content-right-container">
      <!-- # - Thymeleaf syntax to display logged-in user -->
      <div>
        <!-- <span><img th:src="@{'/img/icons'} + ${#authentication.getPrincipal().getUsername()} + '.jpg'" alt="user-icon"></span> -->
        <span class="username" th:text="${#authentication.getPrincipal().getUsername()}"></span>
      </div>
      <div>
      <a th:href="@{/logout}" class="logout-button">Logout</a>
    </div>
    </div>

  </div>
</body>

</html>
