/*      Created By Gullian Van Der Walt      */

/*
    Fonts

    Import Fonts:
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;0,700;1,500&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');
/*
    For Applying Fonts:
                            font-family: 'Montserrat', sans-serif;
                            font-family: 'Roboto', sans-serif;
                            font-family: 'Lato', sans-serif;
                            font-family: 'Open Sans', sans-serif;
    colors:
            Body Background: #ffffff
            Background nav: #505050
            Pink: #FF69B4

    Shadow Effects:
                        Text  - standard -  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);

                              - hard shadow - text-shadow: 5px 5px 0px rgba(0,0,0,0.2);

                              - heavy shadow - text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                                                            0px 8px 13px rgba(0,0,0,0.1),
                                                            0px 18px 23px rgba(0,0,0,0.1);

                        Box Shadow :    box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
                        Icons:
                                -

*/

/* Appointment Complete Details Section Style Starts */
.appointment-complete-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-top: 50px;
}

/* Style Containers */
.appointment-details-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 2px solid #c4c4c4;
  margin: 2rem 0;
}
.header-row {
  text-align: center;
  background-color: #505050;
}
h3 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #ffffffff;
  font-size: 1.5em;
}
.customer-details-container {
  display: flex;
  flex-direction: column;
  border: 2px solid #c4c4c4;
  margin: 2rem 0;
}
.customer-details-container-body {
  display: flex;
}
.services-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 2px solid #c4c4c4;
  margin: 2rem 0;
}

.appointment-details-row {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 2rem 25%;
}
.customer-details-container-col {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.customer-details-container-row {
  display: flex;
  width: 80%;
  padding: 1rem;
  justify-content: space-between;
  margin: 1rem 10%;
}
.services-row {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 1rem 25%;
}

.customer-label,
.appointment-details-label {
  font-size: 1.3em;
}
.services-row h4 {
  font-size: 1.2em;
}
/* Style Date & Time Labels */
.date-container label,
.time-container label {
  margin-left: 1.5rem;
  margin-right: 2rem;
  font-size: 18px;
}
/* Style Date & Time Inputs */
.appointment-input,
.customer-input,
select,
textarea,
option {
  padding: 0.5rem;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
  font-size: 1.3rem;
  text-align: center;
  width: 50%;
}

/* Styles Services Table Container */
.services-container {
  width: 100%;
  height: 50%;
}

/* Button Container */
.button-container {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 4rem 10%;
}
.buttons {
  padding-top: 0;
}
