/*   © Pet Grooming
     © Gullian Van Der Walt
     Pearson Pretoria ITSP300 - Project 2020  */

.error-container {
  min-height: 700px;
  text-align: center;
  padding: 2rem;
}

h1 {
  color: #ff69b4;
}
