.expenses-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}
.expenses-form-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  border: 2px solid #dcdcdc;
  margin: 1rem;
  padding: 1rem;
}
.expenses-top-container {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid #dcdcdc;
  padding: 1em;
  text-align: center;
  -webkit-box-shadow: 0px -2px 5px -1px rgba(80, 80, 80, 0.26);
  -moz-box-shadow: 0px -2px 5px -1px rgba(80, 80, 80, 0.26);
  box-shadow: 0px -2px 5px -1px rgba(80, 80, 80, 0.26);
}
.expenses-sort-container {
  width: 100%;
  height: 10%;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid #dcdcdc;
  padding: 1em;
  text-align: center;
  -webkit-box-shadow: 0px -2px 5px -1px rgba(80, 80, 80, 0.26);
  -moz-box-shadow: 0px -2px 5px -1px rgba(80, 80, 80, 026);
  box-shadow: 0px -2px 5px -1px rgba(80, 80, 80, 0.26);
}
/* Expense Table View */
.expenses-table-container {
  width: 100%;
  min-height: 100%;
  border: 2px solid #dcdcdc;
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
  -webkit-box-shadow: 0px -2px 5px -1px rgba(80, 80, 80, 0.26);
  -moz-box-shadow: 0px -2px 5px -1px rgba(80, 80, 80, 026);
  box-shadow: 0px -2px 5px -1px rgba(80, 80, 80, 0.26);
}

/* Expense Table */
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  padding: 1rem;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  padding: 1rem;
  font-weight: bold;
  background-color: #ff69b4;
  color: #ffffff;
}

tr {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  background-color: lightgray;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
td {
  padding: 1rem;
}
.buttons {
  width: 255px;
  height: 80px;
  padding-top: 15px;
}
.buttons img {
  width: 40px;
  height: 40px;
}
