.finance-container {
    padding: 1rem;
    width: 100%;
}
.finance-button-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 150px;
    width: 80%;
    margin: 8rem 10%;
}
.finance-button-grid-item {
    background: #505050;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 1rem;
}
.finance-button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    margin: 1rem;
}

.finance-button:hover {
    color: #ff69b4;
    cursor: pointer;
}
.finance-button img {
    width: 65px;
    height: 65px;
    vertical-align: middle;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 20px;
    margin-right: 10px;
}
/* Messages */
.success-messages {
    width: 100%;
    padding: 1rem;
    text-align: center;
}
.success-messages h1 {
    color: green;
    font-size: 1.4em;
}
.error-messages {
    width: 100%;
    padding: 1rem;
    text-align: center;
}
.error-messages h1 {
    font-size: 1.4em;
    color: red;
}

