.finance-container {
  padding: 1rem;
  width: 100%;
}
.finance-button-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 150px;
  width: 80%;
  margin: 8rem 10%;
}
.finance-button-grid-item {
  background: #505050;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.finance-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
}
.finance-button a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 10px;
}
.finance-button:hover {
  cursor: pointer;
}
.finance-button a:hover {
  color: #ff69b4;
}
.finance-button img {
  width: 65px;
  height: 65px;
  vertical-align: middle;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 20px;
}
