/*   © Pet Grooming
     © Gullian Van Der Walt
     Pearson Pretoria ITSP300 - Project 2020  */

/* Style Main Section Start*/
.invoice-form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Invoice Container */
.invoice-details-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 2px solid #c4c4c4;
  margin: 2rem 0;
}
/* Style Containers */
.appointment-details-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 2px solid #c4c4c4;
  margin: 2rem 0;
}
.header-row {
  text-align: center;
  background-color: #505050;
}
h3 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #ffffffff;
  font-size: 1.5em;
}
.customer-details-container {
  display: flex;
  flex-direction: column;
  border: 2px solid #c4c4c4;
  margin: 2rem 0;
}
.customer-details-container-body {
  display: flex;
}
.services-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  border: 2px solid #c4c4c4;
  margin: 2rem 0;
}
.invoice-row {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 2rem 25%;
}
.invoice-row-total {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 2rem 25%;
}
.date-time-input-container {
  padding: 1rem;
  text-align: center;
}
.date-time-input-container input {
  padding: 1rem;
  font-size: 1.1em;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
}
.daterangepicker {
  width: 30%;
}
.appointment-details-row {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 2rem 20%;
}
.customer-details-container-col {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 1rem 5%;
}
.customer-details-container-row {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  margin: 1rem 0;
}
.services-row {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 1rem 25%;
}
.invoice-total-row {
  display: flex;
  flex-direction: column;
}
.total-line-container {
  margin: 1rem 0;
}
.customer-label,
.appointment-details-label,
.invoice-label {
  font-size: 1.3em;
  text-align: left;
}
#invoiceDateLabel {
  padding-top: 10px;
}
.services-row h4 {
  font-size: 1em;
}

/* Style Date & Time Inputs */
select,
textarea,
option {
  padding: 0.5rem;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
  font-size: 1.3rem;
  text-align: center;
  width: 50%;
}
p {
  text-align: right;
  font-size: 1.2em;
  padding-top: 1rem;
  color: #ff69b4;
}
.past-appointment-value,
.customer-input {
  font-size: 1.3rem;
  color: #ff69b4;
}

.invoice-total-input {
  text-align: center;
  font-size: 1.3em;
  border: none;
  outline: none;
}
/* Styles Services Table Container */
.services-container {
  width: 100%;
  height: 50%;
}

.discount-input {
  font-size: 1.2rem;
}

/* Style Buttons */
.button-container {
  text-align: center;
  margin: 2rem 0;
}
.buttons {
  padding-top: 10px;
}

.invoice-data {
  font-size: 1.3em;
}
.total-line {
  width: 70%;
  border: 2px solid #ff69b4;
}
/* Style Main Section End*/

/* Style Invoice Complete */
.invoice-complete-details-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 2rem 10%;
  height: auto;
}
.invoice-complete-container-col {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-height: 100%;
  justify-content: space-between;
  border: 2px solid #dcdcdc;
  padding: 1em;
  margin: 2rem 5%;
}
.invoice-complete-container-col-right {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-height: 100%;
  padding: 1em;
  margin: 2rem;
}
.invoice-complete-row {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 1rem 25%;
  justify-content: space-between;
}
.invoice-complete-row-total {
  display: flex;
  flex-direction: row;
  width: 40%;
  margin: 1rem 30%;
  justify-content: space-between;
}
.invoice-complete-row-note {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 1rem 10%;
  justify-content: center;
}

.invoice-complete-label {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  margin-right: 2rem;
}
.invoice-note {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
}
.invoice-complete-data {
  text-align: right;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
}
#invoice-services span {
  color: #ff69b4;
  font-weight: bold;
}
.invoice-complete-send-row {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  height: 25%;
  margin: 37.5% 25%;
}
.invoice-complete-row-line {
  border: none;
  border-top: 3px dashed #505050;
}
