/* Created By Gullian Van Der Walt */

.manage-business-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}
.business-details-container,
.service-details-container,
.salary-details-container {
  display: flex;
  flex-direction: column;
  border: 3px solid #dcdcdc;
  width: 30%;
  margin: 4rem 1.5%;
  justify-content: space-between;
}
.row {
  width: 90%;
  margin: 1rem 5%;
  text-align: center;
}

.heading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #505050;
}
.heading {
  color: #ffffff;
  font-size: 1.4em;
  font-weight: 100;
}
.icon {
  margin-right: 10px;
  display: block;
  margin-top: 10px;
}
.edit-icon,
.delete-icon {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
/*  For Grow Effect */
.edit-icon:hover,
.delete-icon:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.button-container {
  text-align: center;
  margin: 2rem 0;
}
.buttons,
.service-cancel {
  width: 200px;
  padding: 1.5rem;
}

.service-row {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 1rem 5%;
  padding: 1rem;
}
/* Modals */
.edit-business-details-modal,
.edit-service-modal,
.add-service-modal,
.edit-salary-details-modal {
  display: none;
  position: fixed;
  overflow: auto;
  text-align: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Forms */
.edit-business-details-form,
.edit-service-details-form,
.add-service-form,
.edit-salary-details-form {
  width: 70%;
  margin: 0 15%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #fff;
}
h2 {
  color: #ff69b4;
  font-size: 1.6em;
}
.form-row {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
  margin: 1rem 25%;
}
.form-row input {
  padding: 1rem;
  margin: 1rem 0;
}
.form-button-row {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 1rem 25%;
}
#logo {
  background-color: lightslategray;
}
.logo {
  justify-content: center;
  display: flex;
}
/* Messages */
.success-messages {
  width: 100%;
  padding: 1rem;
  text-align: center;
}
.success-messages h1 {
  color: green;
  font-size: 1.4em;
}
.error-messages {
  width: 100%;
  padding: 1rem;
  text-align: center;
}
.error-messages h1 {
  font-size: 1.4em;
  color: red;
}
/* Delete Modal */
.delete-modal {
  display: none;
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.delete-modal-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 50%;
  background-color: #fff;
  border-radius: 15px;
  margin: 2rem 25%;
}
.delete-modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}
.delete-modal-footer a {
  padding-top: 1.2rem;
}
