.new-employee-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 50px;
}
.employee-details-section {
    height: 80%;
    padding: 1rem;
}
.employee-from {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    border: 3px solid #dcdcdc;
}
.new-employee-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 2rem 15%;
}

.new-employee-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    width: 60%;
    margin: 2rem 20%;
}
.employee-form-row {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 50px;
    margin: 1rem 20%;
    text-align: left;
    justify-content: space-between;
}
.employee-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.employee-input,
.auditable-input {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 1rem;
    border: 2px solid #ff69b4;
}

