.salaries-container {
  width: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}
.salary-container-row {
  height: 70%;
  display: flex;
  flex-direction: row;
}
.salary-container-row-bottom {
  height: 20%;
  border: 2px solid #c4c4c4;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.salary-container-col-left {
  display: flex;
  flex-direction: column;
  border: 2px solid #c4c4c4;
  padding: 2rem;
  margin: 1rem;
  justify-content: center;
  height: 100%;
  width: 40%;
}
.salary-container-col-right {
  display: flex;
  flex-direction: column;
  border: 2px solid #c4c4c4;
  padding: 1rem;
  margin: 1rem;
  justify-content: center;
  width: 60%;
}
.salary-form-row-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: 1rem 15%;
}
h3 {
  text-align: center;
}
.overtime-row,
.deductions-row,
.transport-money-row,
.bonus-row {
  display: flex;
  flex-direction: column;
  border: 2px solid #c4c4c4;
  margin: 1rem;
}
.overtime-row-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 1rem 10%;
}
.deductions-row-row-row {
  width: 70%;
  margin: 1rem 15%;
}
.deductions-row-row-row input {
  float: right;
}
.overtime-row-row-col,
.deductions-row-row {
  display: flex;
  flex-direction: column;
}
.overtime-row-row-col label {
  text-align: left;
  margin-bottom: 10px;
}
.transport-money-row-row {
  justify-content: space-between;
  width: 80%;
  margin: 1rem 10%;
}
.transport-money-row-row-col {
  display: flex;
  flex-direction: column;
}
.transport-money-row-row-col-row {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 15%;
}

.transport-money-row-row-col-row label {
  margin-right: 10px;
}
.transport-money-row-row-col-col {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.transport-money-row-row-col-col input {
  width: 50%;
  margin: 1rem 25%;
}
.transport-money-row-row-col-col label {
  margin-bottom: 10px;
}
.bonus-row-row {
  display: flex;
  flex-direction: row;
  padding: 4rem;
  justify-content: space-evenly;
}
.bonus-row-row-col {
  display: flex;
  flex-direction: column;
}
.bonus-row-row-col-col-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
.salary-total-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}
.salary-total-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  margin: 1rem 15%;
}
.salary-total-col label {
  margin-bottom: 10px;
}
.button-container {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
}
