/* Created By Gullian Van Der Walt - 24/08/2020 */
/* Last Updated - 15/09/2020 */
.content-container {
    padding: 1rem;
}
.select-pets-container {
    display: flex;
    flex-direction: column;
    min-height: 700px;
    border: 3px solid #dcdcdc;
    margin-top: 50px;
}
.select-pet-header-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: center;
}
.select-customer-heading-container {
    width: 50%;
    text-align: center;
}
.select-pet-heading-container h3 {
    font-size: 1.6rem;
    color: #ff69b4;
    font-family: 'Roboto', sans-serif;
}
.pet-select-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-height: 500px;
}
.customer-select-search-container {
    width: 80%;
    margin: 2rem 10%;
    text-align: center;
}
.search-input {
    width: 60%;
    margin: 1rem 20%;
    padding: 1rem;
    border: 2px solid #c4c4c4;
    font-size: 1.2rem;
    color: #ff69b4;
    font-weight: 600;
    outline: none;
}
.pet-select-table-pet {
    width: 100%;
    padding: 1rem;
    border-collapse: collapse;
}
th {
    background-color: #505050;
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    color: #ffffff;
    font-size: 1.2rem;
}
tr {
    padding: 1rem;
}
.icon {
    vertical-align: middle;
    margin: 0 1rem;
}
td {
    padding: 2rem;
}
.select-column a {
    text-decoration: none;
    color: #ff69b4;
    border: 1px solid #ff69b4;
    padding: 1rem;
}
.select-column a:hover {
    color: #ffffff;
    background-color: #ff69b4;
}

