/*   © Pet Grooming
     © Gullian Van Der Walt
     Pearson Pretoria ITSP300 - Project 2020  */

.content-container {
  padding: 1rem;
}
.select-pets-container {
  display: flex;
  flex-direction: column;
  min-height: 700px;
  border: 3px solid #dcdcdc;
  margin-top: 50px;
}
.select-pet-header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: center;
}
.select-customer-heading-container {
  width: 50%;
  text-align: center;
}
.select-pet-heading-container h3 {
  font-size: 1.6rem;
  color: #ff69b4;
  font-family: 'Roboto', sans-serif;
}
.pet-select-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 500px;
}
.search-input-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  width: 100%;
}
.pet-select-table-pet {
  width: 100%;
  padding: 1rem;
  border-collapse: collapse;
}
th {
  background-color: #505050;
  padding: 1rem;
  text-align: center;
  color: #ffffff;
  font-size: 1.2em;
}
td {
  padding: 2rem;
  text-align: center;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.select-column a {
  text-decoration: none;
  color: #ff69b4;
  border: 1px solid #ff69b4;
  padding: 1rem;
}
.select-column a:hover {
  color: #ffffff;
  background-color: #ff69b4;
}
/* Paging */
.pages a {
  text-decoration: none;
  color: #ff69b4;
  font-size: 1.2m;
}
.pages a span {
  font-size: 1.2em;
  text-decoration: none;
}
