.view-invoices-container {
  width: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
}
.search-container {
  border: 2px solid #c4c4c4;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.invoices-container {
  padding: 1rem;
  min-height: 700px;
}
.invoice-top-container {
  height: 20%;
  border: 1px solid #dcdcdc;
  padding: 1em;
  margin: 2rem 1rem;
  text-align: center;
  -webkit-box-shadow: 0px -2px 5px -1px rgba(80, 80, 80, 0.2);
}
.search-input-container {
  width: 80%;
  margin: 0 10%;
  padding: 1rem;
  display: flex;
}
.search-input-container form {
  width: 100%;
}
/* Expense Table View */
.invoice-table-container {
  min-height: 500px;
  border: 1px solid #dcdcdc;
  margin: 2rem 0;
  padding: 1rem;
  text-align: center;
  -webkit-box-shadow: 0px -2px 5px -1px rgba(80, 80, 80, 0.26);
}

/* Expense Table */
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  padding: 1rem;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  padding: 1rem;
  font-weight: bold;
  background-color: #ff69b4;
  color: #ffffff;
}

tr {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  background-color: lightgray;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
td {
  padding: 2rem;
}
.view-column a {
  text-decoration: none;
  background-color: #ff69b4;
  border: 2px solid #ff69b4;
  color: #ffffff;
  padding: 1rem;
}
.view-column a:hover {
  background-color: #ffffff;
  transition: 0.5ms;
  color: #ff69b4;
  border: 2px solid #ff69b4;
}

.buttons {
  padding-top: 12px;
}
