.view-invoices-container {
  width: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
}
.search-container {
  border: 2px solid #c4c4c4;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.invoices-container {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #c4c4c4;
  min-height: 700px;
}

.invoice-top-container {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid #dcdcdc;
  padding: 1em;
  text-align: center;
  -webkit-box-shadow: 0px -2px 5px -1px rgba(80, 80, 80, 0.46);
  -moz-box-shadow: 0px -2px 5px -1px rgba(80, 80, 80, 0.46);
  box-shadow: 0px -2px 5px -1px rgba(80, 80, 80, 0.46);
}

/* Expense Table View */
.invoice-table-container {
  width: 100%;
  min-height: 100%;
  border: 2px solid #dcdcdc;
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
  -webkit-box-shadow: 0px -2px 5px -1px rgba(80, 80, 80, 0.46);
  -moz-box-shadow: 0px -2px 5px -1px rgba(80, 80, 80, 0.46);
  box-shadow: 0px -2px 5px -1px rgba(80, 80, 80, 0.46);
}

/* Expense Table */
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  padding: 1rem;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  padding: 1rem;
  font-weight: bold;
  background-color: #ff69b4;
  color: #ffffff;
}

tr {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  background-color: lightgray;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
td {
  padding: 2rem;
}
.view-column a {
  text-decoration: none;
  background-color: #ff69b4;
  border: 2px solid #ff69b4;
  color: #ffffff;
  padding: 1rem;
}
.view-column a:hover {
  background-color: #ffffff;
  transition: 0.5ms;
  color: #ff69b4;
  border: 2px solid #ff69b4;
}
/* Messages */
.success-messages {
  width: 100%;
  padding: 1rem;
  text-align: center;
}
.success-messages h1 {
  color: green;
  font-size: 1.4em;
}
.error-messages {
  width: 100%;
  padding: 1rem;
  text-align: center;
}
.error-messages h1 {
  font-size: 1.4em;
  color: red;
}

.buttons {
  padding-top: 12px;
}
