<!-- Created By Gullian Van Der Walt -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pet Grooming | Invoices</title>
  <!-- Window Icon -->
  <link rel="icon" href="/icons/icon.ico">
  <!-- JQuery -->
  <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <!--    Styles     -->
  <link rel="stylesheet" th:href="@{/css/styles-all.css}" />
  <link rel="stylesheet" th:href="@{/css/invoice.css}" />
  <link rel="stylesheet" th:href="@{/css/fragments/partials.css}" />
  <!--    Font Awesome    -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>


  <header th:insert="fragments/header :: header">
    <!-- Header Included With Fragments -->
  </header>

  <!--  Main Section Starts  -->
  <div class="content-section">

    <!-- Navbar Starts -->
    <nav th:insert="fragments/navbar :: navbar" id="sideNav">
      <!-- Navigation Included With Fragments -->
    </nav>

    <!-- Content-Container-Start -->
    <div class="content-container" id="contentContainer">

      <!-- Main Section Start -->
      <form class="invoice-form">

        <!-- Invoice Details Start -->
        <div class="invoice-details-container">
          <div class="invoice-row">
            <p class="invoice-label">Date</p>
          </div>

          <div class="invoice-row">
            <p class="invoice-label">Payment Method:</p>
            <div class="pay-method">
              <label for="pay-method-eft"> EFT </label>
              <input type="checkbox" name="eft" id="pay-method-eft" class="checkbox">

            </div>
            <div class="pay-method">
              <label for="pay-method-cash"> Cash </label>
              <input type="checkbox" name="cash" id="pay-method-cash" class="checkbox">

            </div>
          </div>

          <div class="invoice-row-note">
            <p class="invoice-label">Note</p>
            <input type="text" class="invoice-data-note" id="invoice-note" value="Thank You For Your Support"
              name="invoice_note">
          </div>
        </div>
        <!-- Invoice Details End -->

        <!-- Appointment Details Start -->
        <div class="appointment-details-container">
          <div class="header-row">
            <h3> Appointment Details</h3>
          </div>
          <div class="appointment-details-row">
            <input type="hidden" th:name="app_id" th:value="${appointment.app_id}">
            <label for="date-input" class="appointment-details-label"> Date </label>
            <input type="text" id="dateInput" th:name="app_date_time" class="appointment-input" th:value="${#dates.format(appointment.app_date_time,'dd/MM/yyyy HH:mm')}" required/>
          </div><br><br>
          <div class="appointment-details-row">
            <label for="groomerSelect" class="appointment-details-label">Groomer</label>
            <select name="employee_id" id="groomerSelect">
              <option value="select">Select Groomer</option>
              <option value="select" th:each="employees : ${employeeList}" th:value="${employees.id}"
                th:text="|${employees.employee_full_name} - ${employees.occupation}|">Select Groomer
              </option>
            </select>
          </div>
          <div class="appointment-details-row">
            <label for="appointmentNotes" class="appointment-details-label">Notes</label>
            <textarea name="notes" id="appointmentNotes"  th:text="appointment.notes" cols="10" rows="5"></textarea>
          </div>
        </div>
        <!-- Appointmen Details End -->

        <!-- Customer Details Start -->
        <div class="customer-details-container">
          <div class="header-row">
            <h3> Customer Details</h3>
          </div>
          <div class="customer-details-container-body">
            <div class="customer-details-container-col">
              <div class="customer-details-container-row">
                <input type="hidden" name="pet_owner_id" th:value="${petOwner.id}">
                <label for="customerFullnameInput" class="customer-label">Customer Name</label>
                <input type="text" class="customer-input" id="customerFullnameInput" name="pet_owner_full_name" th:value="${petOwner.pet_owner_full_name}" required/>
              </div>
              <div class="customer-details-container-row">
                <label for="cellInput" class="customer-label">Cell</label>
                <input type="text" class="customer-input" id="cellInput" name="pet_owner_cell" th:value="${petOwner.pet_owner_cell}" required/>
              </div>
              <div class="customer-details-container-row">
                <label for="customerAddress" class="customer-label">Address</label>
                <input type="text" class="customer-input" name="pet_owner_address" th:value="${petOwner.pet_owner_address}" required>
              </div>
            </div>
            <div class="customer-details-container-col">
              <div class="customer-details-container-row">
                <input type="hidden" name="pet_id" th:value="${pet.id}">
                <label for="petName" class="customer-label">Pet Name</label>
                <input type="text" id="petName" class="customer-input" name="pet_name" th:value="${pet.pet_name}" required/>
              </div>
              <div class="customer-details-container-row">
                <label for="petBreed" class="customer-label">Pet Breed</label>
                <input type="text" id="petBreed" class="customer-input" name="pet_breed" th:value="${pet.pet_breed}" required/>
              </div>
              <div class="customer-details-container-row">
                <label for="petSize" class="customer-label">Pet Size</label>
                <input type="text" id="petSize" class="customer-input" name="pet_size" th:value="${pet.pet_size}" required/>
              </div>
            </div>
          </div>
        </div>
        <!-- Customer Details End -->

          <!-- Services Details Start -->
        <div class="services-container">
          <div class="header-row">
            <h3 > Services</h3>
          </div>
          <div class="services-row" th:each="services : ${listServices}">
            <input type="hidden"  name="service_id" th:value="${services.service_id}">
            <h4 th:text="${services.service_name}"></h4>
            <h4 th:text="${services.service_price}"></h4>
          </div>
          <div class="invoice-row">
            <p class="invoice-label">Discount</p>
            <input type="text" name="discount" id="discount" class="discount-input">
          </div>
          <div class="invoice-total-row">
            <div>
              <hr class="total-line">
            </div>
            <div class="invoice-row-total">
              <p class="invoice-data"> <b> Total </b> </p>
              <p class="invoice-data" id="invoice-total"><b>R 220.00</b></p>
            </div>
            <div>
              <hr class="total-line">
            </div>
          </div>
        </div>
        <!-- Services Details End -->

        <!-- Button section start-->
        <div class="button-container">
          <button type="submit" class="buttons">
            <img src="/Icons/save.png" alt="save" id="save-image" class="icon">Save
          </button>
        </div>
        <!-- Button Section End -->

      </form>


    </div>

  </div>
  <!--  Main Section Ends  -->

  <!-- Scripts -->
  <script th:src="@{/js/sidenav.js}"></script>
  <script th:src="@{/js/newAppointment.js}"></script>
  <script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
      $('input[name="dates"]').daterangepicker();
    });

    $(function () {
      $('input[name="app_date_time"]').daterangepicker({
        timePicker: false,
        singleDatePicker: true,
        minYear: 2020,
        maxYear: parseInt(moment().format('YYYY'), 10),
        locale: {
          format: 'DD/MM/YYYY'
        }
      });
    });
  </script>
</body>

</html>
