<!-- © Pet Grooming
     © Gullian Van Der Walt
     Pearson Pretoria ITSP300 - Project 2020 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pet Grooming | Invoices</title>
  <!-- Window Icon -->
  <link rel="icon" href="/icons/icon.ico">
  <!-- JQuery -->
  <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <!--    Styles     -->
  <link rel="stylesheet" th:href="@{/css/styles-all.css}" />
  <link rel="stylesheet" th:href="@{/css/invoice.css}" />
  <link rel="stylesheet" th:href="@{/css/fragments/partials.css}" />
  <!--    Font Awesome    -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>


  <header th:insert="fragments/header :: header">
    <!-- Header Included With Fragments -->
  </header>

  <!--  Main Section Starts  -->
  <div class="content-section">

    <!-- Navbar Starts -->
    <nav th:insert="fragments/navbar :: navbar" id="sideNav">
      <!-- Navigation Included With Fragments -->
    </nav>

    <!-- Content-Container-Start -->
    <div class="content-container" id="contentContainer">

      <!-- Main Section Start -->
      <form class="invoice-form" th:action="@{/invoice/save}" method=" POST">

        <!-- Invoice Details Start -->
        <div class="invoice-details-container">
          <div class="header-row">
            <h3> Invoice Details</h3>
          </div>
          <div class="invoice-row">
            <label class="invoice-label" id="invoiceDateLabel">Invoice Date</label>
            <div class="date-time-input-container">
              <input type="text" th:name="invoice_date" />
            </div>
          </div>

          <div class="invoice-row">
            <label for="groomerSelect" class="appointment-details-label">Payment Method</label>
            <select th:name="payment_method" name="payment_method" id="groomerSelect" required>
              <option value="select">Select Payment Method</option>
              <option value="EFT">EFT</option>
              <option value="Cash">CASH</option>
            </select>
          </div>

          <div class="invoice-row">
            <label for="invoiceNote" class="invoice-label">Note</label>
            <textarea type="text" class="invoice-data-note" id="invoiceNote" name="invoiceNote" cols="10"
              rows="5">Thank You For Your Support</textarea>
          </div>
        </div>
        <!-- Invoice Details End -->

        <!-- Appointment Details Start -->
        <div class="appointment-details-container">
          <div class="header-row">
            <h3> Appointment Details</h3>
          </div>
          <div class="appointment-details-row">
            <input type="hidden" name="past_app_id" th:value="${pastApp.id}">
            <h5 class="appointment-details-label"> Appointment Date </h5>
            <h5 class="past-appointment-value" th:text="|${#dates.dayOfWeekName(pastApp.app_date_time)} - ${#dates.format(pastApp.app_date_time,'YYYY/MM/dd HH:mm')}|"></h5>
          </div><br><br>
          <div class="appointment-details-row">
            <h5 class="appointment-details-label">Groomer</h5>
            <input type="hidden" class="appointment-input" th:value="${employee.id}">
            <h5 type="text" class="past-appointment-value" th:text="|${employee.employee_full_name} - ${employee.occupation}|"></h5>
          </div>
          <div class="appointment-details-row">
            <h5 for="appointmentNotes" class="appointment-details-label">Appointment Notes</h5>
            <p name="notes" id="appointmentNotes" class="past-appointment-notes-value" th:text="${pastApp.notes}"></p>
          </div>
        </div>
        <!-- Appointmen Details End -->

        <!-- Customer Details Start -->
        <div class="customer-details-container">
          <div class="header-row">
            <h3> Customer Details</h3>
          </div>
          <div class="customer-details-container-body">
            <div class="customer-details-container-col">
              <div class="customer-details-container-row">
                <input type="hidden" name="pet_owner_id" th:value="${petOwner.id}">
                <h5 class="customer-label">Customer Name</h5>
                <h5 type="text" class="customer-input" id="customerFullnameInput" th:name="pet_owner_full_name" name="pet_owner_full_name"
                  th:text="${petOwner.petOwnerFullName}"></h5>
                <input type="hidden" name="pet_owner_full_name" th:value="${petOwner.petOwnerFullName}">
              </div>
              <div class="customer-details-container-row">
                <h5 class="customer-label">Cell</h5>
                <h5 type="text" class="customer-input" id="cellInput" name="pet_owner_cell"
                  th:text="${petOwner.petOwnerCell}"></h5>
              </div>
              <div class="customer-details-container-row">
                <h5 class="customer-label">Address</h5>
                <h5 type="text" class="customer-input" name="pet_owner_address"
                  th:text="${petOwner.petOwnerAddress}"></h5>
              </div>
              <div class="customer-details-container-row">
                <h5 class="customer-label">City</h5>
                <h5 type="text" class="customer-input" name="pet_owner_city"
                  th:text="${petOwner.petOwnerCity}"></h5>
              </div>
            </div>
            <div class="customer-details-container-col">
              <div class="customer-details-container-row">
                <input type="hidden" name="pet_id" th:value="${pet.id}">
                <h5 class="customer-label">Pet Name</h5>
                <h5 type="text" id="petName" class="customer-input" name="pet_name" th:text="${pet.pet_name}"></h5>
              </div>
              <div class="customer-details-container-row">
                <h5 class="customer-label">Pet Breed</h5>
                <h5 type="text" id="petBreed" class="customer-input" name="pet_breed" th:text="${pet.pet_breed}"></h5>
              </div>
              <div class="customer-details-container-row">
                <h5 for="petSize" class="customer-label">Pet Size</h5>
                <h5 type="text" id="petSize" class="customer-input" name="pet_size" th:text="${pet.pet_size}"></h5>
              </div>
            </div>
          </div>
        </div>
        <!-- Customer Details End -->

        <!-- Services Details Start -->
        <div class="services-container">
          <div class="header-row">
            <h3> Services</h3>
          </div>
          <div class="services-row" th:each="services : ${listServices}">
            <input type="hidden" name="service_id" th:value="${services.service_id}">
            <h4 th:text="${services.service_name}"></h4>
            <h4>R <span th:text="${services.service_price}" id="servicePrice"></span></h4>
          </div>
          <div>
              <hr class="total-line">
          </div>
          <div class="invoice-row">
            <h5 class="invoice-label">Discount</h5>
            <input type="number" class="invoice-total-input" id="invoiceDiscount" name="discount" th:value="${discount}" readonly required>
          </div>
          <div class="invoice-total-row">
            <div class="total-line-container">
              <hr class="total-line">
            </div>
            <div class="invoice-row-total">
              <h5 class="invoice-data"> <b> Total (Rand)</b> </h5>
              <input type="number" class="invoice-total-input" id="invoiceTotal" th:name="total" th:value="${total}" readonly required>
            </div>
            <div class="total-line-container">
              <hr class="total-line">
            </div>
          </div>
        </div>
        <!-- Services Details End -->

        <!-- Button section start-->
        <div class="button-container">
          <button type="submit" class="buttons">
            <img src="/Icons/save.png" alt="save" id="save-image" class="icon">Save
          </button>
        </div>
        <!-- Button Section End -->

      </form>
      <!-- Scripts -->
      <script th:src="@{/js/sidenav.js}"></script>
      <script th:src="@{/js/newAppointment.js}"></script>
      <script type="text/javascript" th:inline="javascript">
        $(document).ready(function () {
          $('input[name="dates"]').daterangepicker();
        });

        $(function () {
          $('input[name="invoice_date"]').daterangepicker({
            timePicker: false,
            singleDatePicker: true,
            minYear: 2020,
            maxYear: parseInt(moment().format('YYYY'), 10),
            locale: {
              format: 'YYYY/MM/DD'
            }
          });
        });
      </script>
</body>
</html>
