<!-- © Pet Grooming
     © Gullian Van Der Walt
     Pearson Pretoria ITSP300 - Project 2020 -->
<!DOCTYPE html>
<html lang="en">
<head>
<style>

.invoice-box {
  max-width:800px;
  margin: auto;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 24px;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  color: #555;
}

.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

.invoice-box table td {
  padding: 5px;
  vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
  text-align: right;
}

.invoice-box table tr.top table td {
  padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
  font-size: 45px;
  line-height: 45px;
  color: #333;
}

.invoice-box table tr.information table td {
  padding-bottom: 40px;
}

.invoice-box table tr.heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.invoice-box table tr.details td {
  padding-bottom: 20px;
}

.invoice-box table tr.item td {
  border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
  border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
  border-top: 2px solid #eee;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .invoice-box table tr.top table td {
    width: 100%;
    display: block;
    text-align: center;
  }

  .invoice-box table tr.information table td {
    width: 100%;
    display: block;
    text-align: center;
  }
}

/** RTL **/
.rtl {
  direction: rtl;
  font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

.rtl table {
  text-align: right;
}

.rtl table tr td:nth-child(2) {
  text-align: left;
}
</style>

</head>

<body>

        <!-- Invoice Template found at : https://github.com/sparksuite/simple-html-invoice-template -->
        <div class="invoice-box">
          <table cellpadding="0" cellspacing="0">
            <tr class="top">
              <td colspan="2">
                <table>
                  <tr>
                    <td class="title">
                      <img src="$logo" class="icon" style="width:70px; height:70px;"/>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Invoice #: $invoiceNum<br/>
                      Created: $invoiceDate<br/>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr class="information">
              <td colspan="2">
                <table>
                  <tr>
                    <td>
                      $businessName<br/>
                      Business Address:
                      $businessAddress
                    </td>
                    <td>
                      $businessCell<br/>
                      $businessEmail
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr class="heading">
              <td colspan="2">
                Payment Method
              </td>
            </tr>
            <tr class="details">
              <td>
                $paymentMethod
              </td>
            </tr>
            <tr class="heading">
              <td colspan="2">Customer</td>
            </tr>
            <tr class="details">
              <td>Name</td>
              <td>
                $petOwnerName
              </td>
            </tr>
            <tr class="details">
              <td>Cell</td>
              <td>
                $petOwnerCell
              </td>
            </tr>
            <tr class="details">
              <td>Address</td>
              <td>
                $petOwnerAddress
              </td>
            </tr>
          <tr class="details">
              <td>City</td>
              <td>
                $petOwnerCity
              </td>
            </tr>
            <tr class="heading">
              <td colspan="2">
                Pet
              </td>
            </tr>
            <tr class="details">
              <td>
                Name
              </td>
              <td>
                $petName
              </td>
            </tr>
            <tr class="details">
              <td>
                Breed
              </td>
              <td>
                $petBreed
              </td>
            </tr>
            <tr class="details">
              <td>
                Size
              </td>
              <td>
                $petSize
              </td>
            </tr>
            <tr class="heading">
              <td colspan="2">Groomer</td>
            </tr>
            <tr class="details">
              <td>Name</td>
              <td>
                $employeeName
              </td>
            </tr>
            <tr class="heading">
              <td>Services</td>
              <td>Price</td>
            </tr>
            #foreach( $service in $services )
            <tr class="item">

              <td>
                $service.service_name
              </td>
              <td>
                R $service.service_price
              </td><br/>
            </tr>
            #end
            <tr class="item">
              <td></td>
            </tr>
            <tr class="heading">
              <td colspan="2">Appointment Total</td>
            </tr>
            <tr class="details">
              <td>
                <b>Discount:</b>
              </td>
              <td>
                <b>R $discount</b>
              </td>
            </tr>
            <tr class="details">
              <td><b>Total</b></td>
              <td>
                <b>R $total</b>
              </td>
            </tr>
          </table>
        </div>

</body>

</html>
